/*
edit-email.css is used for the EditEmail.jsx styles that cannot be added inside a const
*/

.invalid-to-field {
  border: 3px solid #923534;
  border-radius: 4px;
}

/*overriding selection box style when focused*/
.css-1pahdxg-control {
  border: none !important;
}
