/*
etta.css is used for all etta components style that cannot be added inside a const
*/

.valid-field {
  border: 1px solid #00565e !important;
}

.invalid-field {
  border: 3px solid #923534 !important;
}

.clear-search:hover {
  text-decoration: underline;
}

/* react-paginate style overriding */
.pagination {
  margin: 24px auto 0;
}

.pagination > li > a {
  padding: 0 6px;
  cursor: pointer;
}

.break {
  text-decoration: none !important;
  font-weight: bold;
}

.active-page {
  font-weight: bold;
  text-decoration: underline !important;
  color: #00565e !important;
}

.next > a {
  padding: 0 !important;
}

.previous > a {
  padding: 0 !important;
}
