/*
password.css is used for the Password.jsx styles that cannot be added inside a const
*/

.password-visility-icon:hover {
  cursor: pointer;
}

.valid-field {
  border: 1px solid #00565e;
  border-radius: 4px;
}

.invalid-field {
  border: 3px solid #923534;
}
