/*
popup-box.css is used for the PopupBox.jsx styles that cannot be added inside a const
*/

.close-button:hover {
  color: #00565e !important;
}

.close-button:focus {
  color: #00565e !important;
}

.custom-button-style:hover {
  filter: brightness(85%) !important;
}
