/*
profile-permissions.css is used for Permission.jsx and RequestPermissionForm.jsx components style that cannot be added inside a const
*/

.add-permission-icon:hover {
  cursor: pointer;
}

.valid-field {
  border: 1px solid #00565e;
  border-radius: 4px;
}

.invalid-field {
  border: 3px solid #923534;
}

.test-row-container-button:hover,
.test-row-container-button:focus {
  background-color: #cecece !important;
  box-shadow: inset 0 0 10px #00565e !important;
}
