/*
site-nav-bar.css is used for the SiteNavBar.jsx styles that cannot be added inside a const
*/

.nav-one {
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.nav-two {
  justify-content: space-between;
  -ms-flex-pack: space-between;
  height: 70px;
  border-bottom: 2px solid #00565e;
}
